:root {
	--primary-color: #096a2e;
	--secondary-color: #8abe53;
	--text-color: #e9c893;
	--background-color: #ffffff;
}

.app-header-container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	justify-content: center;
}

.app-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding: 20px;
}

.welcome {
	background-color: var(--primary-color);
	border-radius: 10px;
}

.header {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.2;
	color: var(--text-color);
	text-align: center;
}

.header-logo {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	padding: 10px 0 10px 0;
	text-align: center;
}

.navbar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	border-radius: 10px;
}

.navbar-list li {
	margin: 0 10px;
}

.navbar-list li a {
	font-size: 18px;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.navbar-list li a:hover {
	background-color: var(--secondary-color);
}

.navbar-list li a:visited {
	color: var(--text-color);
}

.sound-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	font-size: 32px;
	background-color: var(--primary-color);
	border: none;
	border-radius: 8px;
	margin: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	max-width: 100px;
	width: 33.33%;
}

.sound-button:hover {
	background-color: var(--secondary-color);
}

p {
	padding: 5px;
	margin: 0.5rem 0;
	font-size: 1rem;
	line-height: 1;
	color: var(--text-color);
	word-wrap: break-word; /* Enable word wrapping */
	overflow-wrap: break-word; /* Alternative property for word wrapping */
}

@media (max-width: 768px) {
	.sound-button {
		flex-basis: calc(50% - 20px);
		width: 50%;
	}

	p {
		font-size: 0.9rem;
		word-wrap: break-word;
	}
}

@media (max-width: 480px) {
	.sound-button {
		flex-basis: calc(100% - 20px);
		width: 50%;
	}

	p {
		font-size: 0.8rem;
	}
}

@font-face {
	font-family: 'Advent Pro Medium';
	src: url('/public/fonts/Advent-Pro-Medium.ttf');
}
